---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-l font-bold">
        Let's Connect!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"><u>Contact Details</u></h2>
      <p>paulsybrandy@fastmail.com</p>
      <p>Scranton, Pennsylvania, US</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500"><u>Socials</u></h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.codepen} target="_blank">Codepen</a>
        </li>
        <li>
          <a href={LINKS.discord} target="_blank">Discord</a>
        </li>
        <li>
          <a href={LINKS.deviantart} target="_blank">DeviantArt</a>
        </li>
        <li>
          <a href={LINKS.reddit} target="_blank">Reddit</a>
        </li>
        <li>
          <a href={LINKS.linkinbio} target="_blank" class="text-red-500"><b><i>Link-in-Bio (all others)</b></i></a>
        </li>
      </ul>
    </div>
  </div>
</Card>
